div {
    display:flex ;
   width:1200px ;
   justify-content: space-between;
  
   margin: 50px auto;
   align-items: center;
}
.div-tittle {
    font-size: 28px;
font-weight: 800;
}
.button{
    width: 228px;
height: 58px;
justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;

opacity: 0.8;
font-size: 20px;
font-weight: 400;


}
 .banner{
    height: 650px;
    width: 1450px;
    margin: 0px auto;
    
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
background-image: url(/assets/Hero-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 20px;
 }
 #tittle{
    font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
 }
 #tittle-two{
    color: rgb(13, 19, 33);

font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 80%;
 }
 #banner-btn{
    width: 208px;
height: 66px;
border-radius: 8px;

background: rgb(13, 19, 33);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
color: aliceblue;
 }
 #card-container{
    width:1200px ;
    background-color: #0D132105;
    margin: 0px auto;
 }
 #card-tittle{
   
    display: flex;
   flex-direction: column;
    align-items: center;
 }
 #card-tittle > h1{
    font-size: 48px;
    font-weight: 800;
 }
 #card-tittle >p{
    opacity: 80%;
 }
 .first{
    display: flex;
    flex-direction: column;
   

 }
 .cards{
   
    display: flex;
    justify-content: space-between;
    background-color: white;
     width: 950px;
    
 }