div {
    display:flex ;
   width:1200px ;
   justify-content: space-between;
  
   margin: 50px auto;
   align-items: center;
}
.div-tittle {
    font-size: 28px;
font-weight: 800;
}
.button{
    width: 228px;
height: 58px;
justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;

opacity: 0.8;
font-size: 20px;
font-weight: 400;


}